{% extends 'tt_goods/base.html' %}

{% block body %}
    {# 继承于base模板，然后下面是填充了商品模块特殊的导航栏， 即鼠标移动上去才显示 #}
	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="/list/1_1_1" class="fruit">新鲜水果</a></li>
					<li><a href="/list/2_1_1" class="seafood">海鲜水产</a></li>
					<li><a href="/list/3_1_1" class="meet">猪牛羊肉</a></li>
					<li><a href="/list/4_1_1" class="egg">禽类蛋品</a></li>
					<li><a href="/list/5_1_1" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/list/6_1_1" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="/">首页</a></li>
				<li class="interval">|</li>
				<li><a href="/">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="/">抽奖</a></li>
			</ul>
		</div>
	</div>

    {% block breadcrumb %}
    {% endblock breadcrumb %}

    <div class="main_wrap clearfix">
{# 左边的人气商品栏 #}
        <div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for new in new_list %}
					<li>
						<a href="/{{ new.id }}/"><img src="/static/{{ new.gpic }}"></a>
						<h4><a href="/{{ new.id }}/">{{ new.gtitle }}</a></h4>
						<div class="prize">￥{{ new.gprice }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

    {% block r_wrap %}
    {% endblock r_wrap %}
    </div>

{% endblock body %}

