{%extends "tt_user/base.html"%}
	{%block title%}
    {{block.super}}
    {%endblock title%}

	{%block link%}
	<link rel="stylesheet" type="text/css" href="/static/css/drag.css">
	<script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="/static/js/drag.js"></script>
<script>
	$(function () {
		var $name_input = $('.name_input');  // 获取用户名
		var $pass_input = $('.pass_input');  // 获取密码
		var $drag = $('#drag');  // 获取验证码
		var $form_input = $('.form_input');  // 获取表单

		var b_name = false;
		var b_pass = false;

		$name_input.blur(function () {
			if($name_input.val().length<5 || $name_input.val().length>20){
			    $name_input.next().html('格式有误！');
			    $name_input.next().show();
				b_name = false;
			}
			else {
			    $name_input.next().hide();
			    b_name = true;
			}
        })

		$pass_input.blur(function () {
			if($pass_input.val().length<8 || $pass_input.val().length>20){
			    $pass_input.next().html('格式有误！');
			    $pass_input.next().show();
				b_pass = false;
			}
			else {
			    $pass_input.next().hide();
			    b_pass = true;
			}
        })

		$form_input.submit(function () {
		    $name_input.blur();  // 这里需要做一次blur事件，因为submit事件不会触发blur事件。。。坑啊
		    $pass_input.blur();
		    if (b_name==false || b_pass == false || $drag.prop('Right') == '0'){
//				alert($drag.prop('Right'));
		        return false;
			}
			else {
//		        alert($drag.prop('Right'));
			    return true;
			}
        })

    })
</script>

	<script>
        $(function(){

            $('#drag').drag();
            if ( '{{user_error}}' == 1){
                $('.user_error').html('用户名错误').show();
			}

            if ( '{{pwd_error}}' == 1){
                $('.pwd_error').html('密码错误').show();
			}

        })
	</script>
	{%endblock link%}
{%block body%}
<div class="login_top clearfix">
		<a href="/index/" class="login_logo"><img src="/static/images/logo02.png"></a>
	</div>

	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr">
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="/tt_user/register/">立即注册</a>
				</div>
				<div class="form_input">

					<form action="/tt_user/login_handle/" method="post">
						{%csrf_token%}
						<input type="text" name="username" class="name_input" value="{{username}}"
                               placeholder="请输入用户名">
						<div class="user_error">输入错误</div>

						<input type="password" name="pwd" class="pass_input" value="{{upwd}}"
                               placeholder="请输入密码">
						<div class="pwd_error">输入错误</div>
						<div class="more_input clearfix">
							<input type="checkbox" name="remember" value="1">
							<label>记住用户名</label>
							<a href="#">忘记密码</a>
						</div>

						<div id="drag" Right="0"></div>

						<input type="submit" value="登录" class="input_submit">
					</form>

				</div>
			</div>
		</div>
	</div>
{%endblock body%}

